---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Privacy Policy"
	description="Privacy Policy for FlowDebugger"
	pubDate={new Date('July 11 2026')}
>
	<p>Last updated: July 11, 2026</p>
	
	<p>At FlowDebugger, accessible from hakkoharvest.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by FlowDebugger and how we use it.</p>

	<h3>Log Files</h3>
	<p>FlowDebugger follows a standard procedure of using log files. These files log visitors when they visit websites. The information collected by log files includes internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks.</p>

	<h3>Cookies and Web Beacons</h3>
	<p>Like any other website, FlowDebugger uses "cookies". These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

	<h3>Google DoubleClick DART Cookie</h3>
	<p>Google is one of a third-party vendor on our site. It also uses cookies, known as DART cookies, to serve ads to our site visitors based upon their visit to www.website.com and other sites on the internet.</p>

	<h3>Our Advertising Partners</h3>
	<p>Some of advertisers on our site may use cookies and web beacons. Our advertising partners include Google AdSense.</p>
</Layout>